@charset "UTF-8";
body {
  background-image: url(../img/fon.png);
  background-size: 100%;
  height: 100%;
  width: 100%;
  font-family: PT Sans; }

header #col1 img {
  margin-top: 25px; }
header #col2 h1 {
  margin-top: 25px; }
header #col2 h1:hover {
  color: #802525;
  -webkit-transition-duration: .5s;
          transition-duration: .5s; }
header #col3 {
  margin-top: 10px; }
  header #col3 a {
    text-decoration: none;
    border-bottom: 1px dashed #000;
    color: #000;
    margin-left: 40px;
    float: right; }
  header #col3 a:hover {
    color: #802525;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
  header #col3 .button {
    cursor: pointer;
    width: 140px;
    height: 65px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background-color: #8b1d1d;
    border-radius: 7px;
    box-shadow: 8px 12px 0px 3px #f5d37d;
    float: right;
    margin-top: 10px; }
    header #col3 .button p {
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      color: #fff;
      text-align: center;
      margin-top: 15px;
      line-height: 18px;
      font-size: 17px; }
  header #col3 .button:hover {
    background: #00d108;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
header button.top_menu_button {
  color: #fff;
  background: none;
  border: 0;
  font-size: 25px; }
header #nav {
  float: left;
  width: 97%;
  list-style: none;
  font-weight: bold;
  margin-left: 12px;
  margin-bottom: 10px;
  margin-top: 35px;
  background: rgba(128, 37, 37, 0.46);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
  /*--- ╨Т╨л╨Я╨Р╨Ф╨Р╨о╨й╨Ш╨Х ╨Я╨г╨Э╨Ъ╨в╨л ---*/ }
  header #nav li {
    float: left;
    margin-right: 37px;
    position: relative;
    display: block; }
  header #nav li a {
    display: block;
    line-height: 40px;
    height: 55px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px; }
  header #nav li hr {
    margin-top: -5px;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 15px; }
  header #nav li a:hover {
    color: #721515;
    background: #ffffff; }
  header #nav ul {
    border-radius: 0px;
    text-align: center;
    background: #fdf0c4;
    width: 250px;
    list-style: none;
    position: absolute;
    left: -9999px;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity; }
  header #nav li ul a {
    color: #000; }
  header #nav ul li {
    float: none; }
  header #nav ul a {
    white-space: nowrap;
    /* ╨Ю╤Б╤В╨░╨╜╨░╨▓╨╗╨╕╨▓╨░╨╡╨╝ ╨┐╨╡╤А╨╡╨╜╨╛╤Б ╤В╨╡╨║╤Б╤В╨░ ╨╕ ╤Б╨╛╨╖╨┤╨░╨╡╨╝ ╨╝╨╜╨╛╨│╨╛╤Б╤В╤А╨╛╤З╨╜╤Л╨╣ ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╕╨╣ ╨┐╤Г╨╜╨║╤В */
    display: block; }
  header #nav li:hover ul {
    /* ╨Т╤Л╨▓╨╛╨┤╨╕╨╝ ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╕╨╣ ╨┐╤Г╨╜╨║╤В ╨┐╤А╨╕ ╨╜╨░╨▓╨╡╨┤╨╡╨╜╨╕╨╕ ╨║╤Г╤А╤Б╨╛╤А╨░ */
    left: 0;
    /* ╨Я╤А╨╕╨╜╨╛╤Б╨╕╨╝ ╨╡╨│╨╛ ╨╛╨▒╤А╨░╤В╨╜╨╛ ╨╜╨░ ╤Н╨║╤А╨░╨╜, ╨║╨╛╨│╨┤╨░ ╨╜╤Г╨╢╨╜╨╛ */
    opacity: 1;
    /* ╨Ф╨╡╨╗╨░╨╡╨╝ ╨╜╨╡╨┐╤А╨╛╨╖╤А╨░╤З╨╜╤Л╨╝ */
    z-index: 100;
    padding: 0; }
  header #nav li:hover a {
    /* ╨г╤Б╤В╨░╨╜╨░╨▓╨╗╨╕╨▓╨░╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨▓╨╡╤А╤Е╨╜╨╡╨│╨╛ ╤Г╤А╨╛╨▓╨╜╤П, ╨║╨╛╨│╨┤╨░ ╨▓╤Л╨▓╨╛╨┤╨╕╤В╤Б╤П ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╕╨╣ ╤Б╨┐╨╕╤Б╨╛╨║ */
    background: #fff;
    text-decoration: underline;
    color: #721515; }
  header #nav li:hover ul a {
    /* ╨Ш╨╖╨╝╨╡╨╜╤П╨╡╨╝ ╨╜╨╡╨║╨╛╤В╨╛╤А╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ ╨▓╨╡╤А╤Е╨╜╨╡╨│╨╛ ╤Г╤А╨╛╨▓╨╜╤П ╨┐╤А╨╕ ╨▓╤Л╨▓╨╛╨┤╨╡ ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╡╨│╨╛ ╨┐╤Г╨╜╨║╤В╨░ */
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.075s linear; }
  header #nav li:hover ul li a:hover {
    /* ╨г╤Б╤В╨░╨╜╨░╨▓╨╗╨╕╨▓╨░╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╕╤Е ╨┐╤Г╨╜╨║╤В╨╛╨▓, ╨║╨╛╨│╨┤╨░ ╨║╤Г╤А╤Б╨╛╤А ╨╜╨░╨▓╨╛╨┤╨╕╤В╤Б╤П ╨╜╨░ ╨║╨╛╨╜╨║╤А╨╡╤В╨╜╤Л╨╣ ╨┐╤Г╨╜╨║╤В */
    background: #333;
    background: rgba(51, 51, 51, 0.75);
    /* ╨С╤Г╨┤╨╡╤В ╨┐╨╛╨╗╤Г╨┐╤А╨╛╨╖╤А╨░╤З╨╜╤Л╨╝ */
    text-decoration: underline;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05); }

.slider_main .owl-pagination {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 20px 12px 30px;
  background: #ac2020;
  border-bottom-left-radius: 10px;
  float: right;
  margin-right: 103px; }
  .slider_main .owl-pagination .owl-page {
    height: 15px;
    width: 15px;
    background: #484848;
    border-radius: 20px;
    margin-right: 5px; }
  .slider_main .owl-pagination .owl-page.active {
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 20px; }

.item div h1 {
  position: absolute;
  top: 265px;
  left: 0px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 244px 30px 65px; }

.slider_main {
  background: #505050;
  margin-top: -10px; }

.Ensh p {
  font-size: 15px;
  color: #8e8e8e;
  margin-top: -10px; }
  .Ensh p span {
    font-size: 28px;
    color: #ffefc4; }

.President {
  border: 1px solid #8e8e8e;
  padding: 20px;
  width: 345px;
  margin-bottom: 10px;
  border-radius: 16px; }
  .President img {
    float: left;
    padding-bottom: 130px;
    margin-right: 30px;
    margin-top: 30px; }
  .President p {
    color: #ffefc4; }
    .President p span {
      color: #8e8e8e; }

.main-slider {
  margin-top: -10px;
  margin-left: 12px; }

section .slider_main img {
  margin-top: -10px;
  margin-left: -6px;
  width: 100%; }
section #span2 {
  color: #8b3333;
  border-bottom: 1px solid #8b3333; }
section .podr {
  color: #8b3333;
  border-bottom: 1px solid #8b3333;
  width: 75px;
  cursor: pointer; }
section .News a {
  color: #8b3333;
  text-decoration: underline; }
section .News h1 {
  color: #8e8e8e; }
section .News #news1 .line {
  color: #8e8e8e;
  background-color: #8e8e8e;
  height: 6px;
  overflow: hidden; }
section .News #news1 div {
  padding-left: 0;
  cursor: pointer;
  background-color: #fff; }
section .News #news1 h2 {
  color: #8b3333;
  text-decoration: underline; }
section .News #news1 p {
  color: #8e8e8e; }
section .News #news1 img {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px; }
section .News #news2 .line {
  color: #8e8e8e;
  background-color: #8e8e8e;
  height: 6px;
  overflow: hidden; }
section .News #news2 div {
  padding-right: 0;
  cursor: pointer;
  background-color: #fff; }
section .News #news2 h2 {
  color: #8b3333;
  text-decoration: underline; }
section .News #news2 p {
  color: #8e8e8e; }
section .News #news2 img {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px; }
section .News #news1 div:hover {
  box-shadow: 0px 20px 60px -11px black;
  -webkit-transition-duration: .3s;
          transition-duration: .3s; }
  section .News #news1 div:hover .line {
    background-color: #8b3333;
    color: #8b3333; }
section .News #news2 div:hover {
  box-shadow: 0px 20px 60px -11px black;
  -webkit-transition-duration: .3s;
          transition-duration: .3s; }
  section .News #news2 div:hover .line {
    background-color: #8b3333;
    color: #8b3333; }
section .partners h1 {
  color: #8e8e8e;
  float: left;
  width: 100%; }
section .partners .slider_container img {
  max-width: 100%; }
section .partners .next_button,
section .partners .prev_button {
  color: #8e8e8e;
  font-size: 25px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 96%;
  padding: 0 25px;
  border-radius: 10px; }
section .partners .slide_container {
  position: relative; }
section .partners .next_button {
  right: 20px; }
section .partners .prev_button {
  left: 20px; }

#foo_left p {
  color: #8e8e8e; }

#foo_right p {
  float: right;
  margin-top: 50px;
  color: #8e8e8e; }
#foo_right a {
  color: #8e8e8e;
  text-decoration: underline; }

.New_article h1 {
  background-color: #4d4d4d;
  width: 100%;
  font-size: 40px;
  color: #fff;
  height: 65px;
  margin-top: -20px;
  line-height: 55px;
  text-indent: 50px;
  border-radius: 8px; }
.New_article h3 {
  font-size: 20px;
  color: #8e8e8e;
  padding-top: 25px;
  padding-bottom: 15px; }
.New_article .new_projects {
  padding-right: 0;
  cursor: pointer;
  background-color: #fff; }
  .New_article .new_projects h2 {
    color: #8e8e8e;
    text-decoration: underline; }
  .New_article .new_projects p {
    color: #8e8e8e; }
  .New_article .new_projects .line2 {
    color: #8e8e8e;
    background-color: #8e8e8e;
    height: 6px;
    overflow: hidden; }
.New_article .article2 h3 {
  margin-top: -33px;
  margin-left: 80px;
  font-size: 20px;
  color: #8e8e8e;
  padding-top: 25px;
  padding-bottom: 15px; }
.New_article .article2 .nav {
  float: right; }
  .New_article .article2 .nav div {
    background: rgba(249, 249, 249, 0.24);
    padding: 3px 10px 10px 9px;
    border: 1px solid #8e8e8e;
    cursor: pointer; }
  .New_article .article2 .nav div p {
    color: #8e8e8e; }
  .New_article .article2 .nav div h2 {
    color: #000;
    text-decoration: underline; }
.New_article .article .line {
  color: #8e8e8e;
  background-color: #8e8e8e;
  height: 6px;
  overflow: hidden; }
.New_article .article div {
  padding-right: 0;
  cursor: pointer;
  background-color: #fff; }
.New_article .article h2 {
  color: #8b3333;
  text-decoration: underline; }
.New_article .article p {
  color: #8e8e8e; }
.New_article .article img {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px; }
.New_article .article .but {
  margin-right: 20px;
  width: 60px;
  height: 35px;
  display: inline-block;
  background: none; }
.New_article .article .but p {
  color: #8b3333;
  text-decoration: none;
  font-size: 25px;
  background: none;
  text-indent: 24px;
  margin-top: 0; }
.New_article .article .but:hover {
  width: 60px;
  height: 35px;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: #8b1d1d;
  border-radius: 7px;
  color: #fff; }
  .New_article .article .but:hover p {
    color: #fff; }
.New_article .article .but:active {
  width: 60px;
  height: 35px;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: #8b1d1d;
  border-radius: 7px;
  color: #fff; }
.New_article .article div:hover {
  box-shadow: 0px 20px 60px -11px black; }
  .New_article .article div:hover .line {
    background-color: #8b3333;
    color: #8b3333; }

.project .slider_project img {
  margin-top: -39px;
  margin-left: -30px; }
.project .slider_project div {
  float: right;
  position: absolute;
  left: 65%;
  bottom: 86%; }
.project .slider_project p {
  color: #fff; }
  .project .slider_project p span {
    font-size: 35px; }
.project .slider_project .button1 {
  cursor: pointer;
  width: 140px;
  height: 56px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background-color: #00d108;
  border-radius: 7px;
  float: right;
  position: absolute;
  top: 200px;
  left: 5px; }
  .project .slider_project .button1 p {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    color: #fff;
    text-align: center;
    margin-top: 11px;
    line-height: 18px;
    font-size: 17px; }

.content #left_content h1 {
  color: #8b3333;
  text-decoration: underline;
  font-size: 35px; }
.content #left_content div {
  width: 170px;
  display: inline-block;
  margin-right: 20px; }
  .content #left_content div p span {
    color: #8b3333;
    text-decoration: underline; }
.content #left_content p {
  color: #8e8e8e; }
.content #right_content div {
  border: 2px solid #8e8e8e;
  padding-left: 15px;
  cursor: pointer;
  margin-bottom: -1px; }
  .content #right_content div p {
    color: #8e8e8e; }
    .content #right_content div p .span1 {
      font-size: 16px;
      color: #00d108; }
    .content #right_content div p .span2 {
      color: #000; }
.content #right_content div:hover {
  background: #fff;
  border: 2px solid #00d108;
  -webkit-transition-duration: .3s;
          transition-duration: .3s; }

/*# sourceMappingURL=main.css.map */