*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    section .partners .slider_container img {
            max-width: 100%;
        }
        .slide_container {
            position: relative;
        }

        .next_button {
            right: 20px;
        }

        .prev_button {
            left: 20px;
        }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header .top_menu #nav li{
        float: none;
        width: 100%;
        text-align: center;
    }
    header .top_menu #nav{
        padding-left: 0;
        overflow: hidden;
        height: 0;
        transition: .2s all;
    }
    header #nav.active{
        height: 392px;
    }
    #nav  li a:hover{
        color:#721515;
        cursor: pointer;
        background:#ffffff;
        }
    .main-slider, .right_slider {
        display: inline-block;
    }
    .main-slider .item img {
        width: 100%;
    }
    .slider_main .owl-pagination {
        float: right;
    }
    #news1 h5, #news1 h2, #news1 p {
        padding-left: 20px;
        padding-top: 10px;
    }
    #news2 h5, #news2 h2, #news2 p {
        padding-left: 20px;
        padding-top: 10px;
    }
    #foo_right p {
        text-align: center;
        float: none;
    }
    #foo_left p {
        text-align: center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}